body {font-family: Source Sans Pro; text-align: center; line-height: 1.2em; color: #333; margin: 0;}

h1 {
  font-weight: 900;
  font-size: 50px;
  font-family:  Montserrat;
  padding: 0 20px 20px 20px;
  line-height: 1.2em;
  margin-top: 0;
  display: inline-block;
  margin-bottom: 0px;
}

p {font-size: 23px; line-height: 1.3em;  padding-bottom: 20px;}
a {color: gray; text-decoration: none; }

#avatar { 
  max-width: 150px;
  max-height: 150px; 
  border-radius: 50%;  
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); 
  margin: 20px auto;
}

.header{
  width: 100%;
  background-color: rgb(24,188,156); 
  color: #fff;
  padding-bottom: 20px;
}

.header #desc{
  border-top: 3px solid;
  width: 800px;
  margin: 0 auto;
}

.projects{
  width: 50%;
  border-style: solid;
  text-align: center;
  margin: 15 auto;
}

.wrapper {
  width: 50%;
  margin: 40px auto;
}


div.gallery {
  margin-top: 30px;
}

.gallery ul {
  list-style-type: none;
  margin-left: 35px;
}

.gallery ul li, div.gallery li img {
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.gallery ul li {
  position: relative;
  float: left;
  width: 130px;
  height: 130px;
  margin: 5px;
  padding: 5px;
  z-index: 0;
}

div.gallery ul li:hover {
  z-index: 5;
}

div.gallery ul li img {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #dddddd;
  padding: 5px;
  width: 130px;
  height: 130px;
  background: #f0f0f0;
}

div.gallery ul li img:hover {
  width: 200px;
  height: 200px;
  margin-top: -130px;
  margin-left: -130px;
  top: 65%;
  left: 65%;
}

  div.gallery ul {
    list-style-type: none;
    margin: 0;
  }

.container {
  width: 800px;
  margin: 0 auto;
  overflow: none;
}

.inline-list {
  list-style: none;
  margin: 0; 
  padding: 0;
}

.inline-list li {
  display: inline-block; 
}

.inline-list li {
  padding-left: 20px;
}
.inline-list li a {
  padding: 2px 8px;
  border: 1px solid #96EBE1;
  border-radius: 2px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}
.inline-list li a:hover {background: #96EBE1; color: #fff;}

    .footer,
    .push {
      height: 200px;
    }
