body {font-family: Source Sans Pro; text-align: center; line-height: 1.2em; color: #333; margin: 0;}

h1 {
  font-weight: 900;
  font-size: 50px;
  font-family: Playfair Display;
  padding: 0 20px 20px 20px;
  line-height: 1.2em;
  margin-top: 0;
  border-bottom: 2px solid #333;
  display: inline-block;
  margin-bottom: 0px;
}

p {font-size: 23px; line-height: 1.3em;}
a {color: gray; text-decoration: none; }

#avatar { 
  max-width: 150px;
  max-height: 150px; 
  border-radius: 50%;  
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); 
  margin: 20px;
}

.container {
  width: 500px;
  margin: 0 auto;
  overflow: none;
}

.inline-list {
  list-style: none;
  margin: 0; 
  padding: 0;
}

.inline-list li {
  display: inline-block; 
}

.inline-list li {
  padding-left: 20px;
}
.inline-list li a {
  padding: 2px 8px;
  border: 1px solid #96EBE1;
  border-radius: 2px;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}
.inline-list li a:hover {background: #96EBE1; color: #fff;}
